[submodule "dist/imageprocessing-labs"]
	path = dist/imageprocessing-labs
	url = git@github.com:wellflat/imageprocessing-labs.git
[submodule "dist/imaya/zlib.js"]
	path = dist/imaya/zlib.js
	url = https://github.com/imaya/zlib.js.git
[submodule "dist/yoya/lcms.js"]
	path = dist/yoya/lcms.js
	url = git@github.com:yoya/lcms.js.git
[submodule "dist/nokiatech/heif.gh-pages"]
	path = dist/nokiatech/heif.gh-pages
	url = git@github.com:nokiatech/heif.git
	branch = gh-pages
