/*
  2017/02/26- yoya@awm.jp
*/

input {
    border-radius: 20%;
}

table {
    border: medium solid gray;
    border-radius: 10%;
}

.noCR {
  display: inline-block; // IE
  display: inline;      // Mozilla
}
.CR {
  display: block; // IE
  display: block;      // Mozilla
}

.borderRed { border: thick solid red; }
.borderGreen { border: thick solid green; }
.borderBlue { border: thick solid blue; }

.borderYellow { border: thick solid yellow; }
.borderBlack { border: thick solid black; }
.borderGray { border: thick solid gray; }

.bgWhite { background-color: white;}
